html,
body {
    <style type="text/css">
		*{margin: 0;padding: 0px;}
		.dialog{
		margin-top: 50px;
		margin-left: 50px;
		width: 800px;
		border: 1px solid #DEE2EA;
		font-family:"Microsoft YaHei";
		color: black;
		}
		.header{
		border-bottom: #DEE2EA 1px solid;
		height: 50px;
		background-color: #F4F5F8;
		color: #737373;
		}
		.content{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 110%;
        }
        .section{
        padding: 10px 0;
        font-size: 80%;
        }
        .item{
        padding: 10px 0;
        font-size: 80%;
        }
        .itype{
        float: left;
        }
        .itype1{
        	float: right;
        }
        .contentarea{
        padding-left: 5px;
        margin-left: 38px;
        }
        .C_Header{
        padding:  2px 0;
        font-weight: normal;
        color: #737373;
        }
        .username, .theme{
        font-weight: bold;
        }
        .mainpoint{
        color: #49ACF2;
        font-weight: bold;
        }
        .time{
        position: relative;
        margin-top: 2px;
        float: right;
        color: #A7A8A8;
        font-size: 60%;
        font-weight: normal;
        }
        .item_content{
        text-align: left;
        padding-right: 100px;
        color: #949494;
        }
        ul{list-style-type: none;}
		h2{
		float: left;
		padding-top: 10px;
		padding-left: 35px;
		color: #737373;
		font-size: 130%;
		}
		.r_header{
		position:relative;
        padding-top: 20px;
        padding-right: 20px;
        float:right;
        font-size: 80%;
		}
		</style>
}